[2016-09-14 18:26] metaweidner opened #1 "Align DPTF Definitions with DPLA MAP"

[2016-09-14 18:28] metaweidner opened #2 "Create Input Guidelines for DPTF fields"

[2016-09-14 18:28] metaweidner opened #3 "Create Input Guidelines for DAMSTF fields"

[2016-09-14 18:30] metaweidner opened #4 "Add dc.relation?"

[2016-09-14 18:33] metaweidner opened #5 "Crosswalk ASpace Fields"

[2016-09-14 18:37] metaweidner commented on #5
Add EAD/ASpace column to crosswalks

[2016-09-14 20:33] metaweidner commented on #5
@rmrichardson @librarycard @lisacruces: I've added an EAD/ASpace column to the DPTF & DAMSTF crosswalk documents:
- https://github.com/uhlibraries-digital/bcdams-map/wiki/02-DPTF-Metadata#uhdl-crosswalk
- https://github.com/uhlibraries-digital/bcdams-map/wiki/03-DAMSTF-Metadata#uhdl-crosswalk

[2016-09-14 20:42] metaweidner opened #6 "Align DAMSTF Definitions with source vocabulary"

[2016-09-15 15:33] metaweidner commented on #1
Complete with exceptions:
- https://uhlibraries-digital.github.io/bcdams-map/#date
- https://uhlibraries-digital.github.io/bcdams-map/#accessRights

72a5a0e

[2016-09-15 15:33] #1 closed, assigned to metaweidner

[2016-09-15 17:14] metaweidner opened #7 "Align DPTF Definitions with source vocabulary"

[2016-09-15 17:15] metaweidner opened #8 "Create Collection context class in Cedar"

[2016-09-15 20:18] metaweidner commented on #7
Completed with 6937b4202a327b1a91fbb537c1f5a83c0eb634b6

[2016-09-15 20:18] #7 closed, assigned to metaweidner

[2016-09-15 20:20] metaweidner commented on #2
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/title
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/creator
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/date
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/description
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/publisher
- https://uhlibraries-digital.github.io/bcdams-ma

[2016-09-15 20:20] #2 closed, assigned to metaweidner

[2016-09-15 20:22] metaweidner opened #9 "Update Rights Guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#rights
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/rights

[2016-09-15 20:22] metaweidner opened #10 "Update Access Rights Guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#accessRights
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/accessRights

[2016-09-15 20:29] metaweidner opened #11 "Update Title guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#title
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/title

[2016-09-15 20:33] metaweidner opened #12 "Update Creator guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#creator
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/creator

[2016-09-15 20:35] metaweidner opened #13 "Update Date guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#date
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/date

[2016-09-15 20:37] metaweidner opened #14 "Update Description guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#description
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/description

[2016-09-15 20:38] metaweidner opened #15 "Update Publisher guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#publisher
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/publisher

[2016-09-15 20:40] metaweidner opened #16 "Update Collection Guidelines"
- https://uhlibraries-digital.github.io/bcdams-map/#isPartOf
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/isPartOf

[2016-09-15 20:46] metaweidner opened #17 "Review DPTF Crosswalk"
@amgaynor @librarycard Please lead a review of the crosswalk for DPTF fields prior to the next DMWG meeting and leave feedback in this thread. Thanks!

https://github.com/uhlibraries-digital/bcdams-map/wiki/02-DPTF-Metadata#uhdl-crosswalk

[2016-09-16 18:14] metaweidner commented on #6
Closed with 389ee2ed20b7c2a4f74e85f734826c684ca3b2f2

[2016-09-16 18:14] #6 closed, assigned to metaweidner

[2016-09-16 18:35] seanlw opened #18 "Boolean values in map should be boolean data type not string"
Fields within the map that have a true/false value shouldn't have "" around them.

Example:

Current:

{
label: "Title",
namespace: "dcterms",
name: "title",
uri: "https://uhlibraries-digital.github.io/bcdams-map/#title",
same_as: "http://purl.org/dc/terms/title",
definition: "A name given to the resource.",
range_label: "String",
required: "true",
repeatable: "false",
hidden: "false"
}

Should be

[2016-09-16 18:55] metaweidner commented on #18
Closed with acc9cd727cd77f477cc62bda8fd8c1148e6fc059

[2016-09-16 18:55] #18 closed, assigned to nobody

[2016-09-16 20:04] metaweidner opened #19 "Add uhlib.aspaceUri"

[2016-09-19 16:24] seanlw opened #20 "Add guidelines attribute"
The URI to the guidelines

[2016-09-19 16:25] seanlw opened #21 "Add input attribute"
Input attribute will contain 'single' or 'multi'. i.e. Input field or textarea.

[2016-09-19 16:57] metaweidner opened #22 "Add type attribute"
- remove dptf and damstf directories
- add type attribute with values: descriptive, administrative, technical

[2016-09-19 16:58] metaweidner opened #23 "Update API for types"
- remove dptf.json
- remove damstf.json
- add descriptive.json
- add administrative.json
- update map.json
- update graph.jsonld

[2016-09-19 19:41] metaweidner commented on #20
completed with 5a26b3f229d7d079e42e2afbdbd5cc1aff15f1a3

[2016-09-19 19:45] seanlw commented on #20
To be consistent with other uri fields, it should be labeled as `guidelines_uri`

[2016-09-19 19:51] metaweidner commented on #21
closed with fcea71668ec489a77037960ba2f77a2e2d0707ca

[2016-09-19 19:51] #21 closed, assigned to nobody

[2016-09-19 19:54] metaweidner commented on #20
closed with 554e4b17d5beb64e48b8ebd197792979f2ffd989

[2016-09-19 19:54] #20 closed, assigned to nobody

[2016-09-19 20:41] metaweidner commented on #22
closed with f8181b33c78c13c4950430e9bdf71d02dda46adc

[2016-09-19 20:41] #22 closed, assigned to nobody

[2016-09-19 21:30] metaweidner commented on #23
@seanlw will this work?
- https://uhlibraries-digital.github.io/bcdams-map/api/map.json
- https://uhlibraries-digital.github.io/bcdams-map/api/descriptive.json
- https://uhlibraries-digital.github.io/bcdams-map/api/administrative.json

[2016-09-20 17:05] metaweidner commented on #23
@seanlw added ordering to api/map.json

[2016-09-20 17:05] #23 closed, assigned to nobody

[2016-09-21 20:18] metaweidner commented on #19
Closed with:
- 002f7a9477248776aa91cf462b96cbc5957856ee
- 9661b1f9c1c61703e1068751ae349f36e5bea217

[2016-09-21 20:18] #19 closed, assigned to metaweidner

[2016-09-22 22:21] seanlw opened #24 "Add dcterms.identifier"

[2016-09-23 16:56] #3 closed, assigned to metaweidner

[2016-09-23 16:57] metaweidner opened #25 "Add values attribute for drop down menus"
Controlled vocabulary values for application form fields

**Brays:**
- Type
- Language

[2016-09-23 17:00] metaweidner opened #26 "Combine range_label and range_uri into array"
@seanlw Does this look right?

"range":
[
 { "label": "value", "uri":"value"},
 { "label": "value"}
]

[2016-09-23 17:03] seanlw commented on #26
@metaweidner looks great!

[2016-09-23 17:04] metaweidner commented on #26
@seanlw Thanks! As discussed, I'll hold off on this until we've had a chance to meet with the Metadata team.

[2016-09-23 19:26] metaweidner commented on #24
@seanlw Wondering what to do with these:
- range: Should this be limited to an ARK URI? Or might it be just the ARK stem? The DPLA MAP lists this as a literal value. Could possibly be a call number, etc...
- obligation: every resource should have an ARK ID, but making this Required could cause validation problems during production
- repeatable: i can see a case for having multiple identifiers asso

[2016-09-23 19:34] seanlw commented on #24
@metaweidner I don't think the range should be limited to the ARK URI. It makes since to have it contain multiple identifiers, the ARK only being one of them. For obligation what about requiredWhenAvailable? Our applications will be putting in the ARK, but I think that if other identifiers are available, they should be used. Which would also make this field repeatable. Thoughts?

[2016-09-26 18:23] metaweidner opened #27 "Add archival endpoint to API"
to be used for validating Archivematica SIP output from Carpenters

[2016-09-26 18:26] metaweidner commented on #27
closed with 775c7a3befffab954f2b7b7ddd7a99500a64bc8b

[2016-09-26 18:35] metaweidner commented on #24
@seanlw I've entered the range as 'String' for now. We can address the types of values the field will take when tackling #26. It's repeatable with a 'requiredWhenAvailable' obligation.

Closed with 94a397a26ff6ec2f349a76ab8d48c3010e3ad74a

[2016-09-26 18:38] seanlw commented on #24
@metaweidner This should be added to the new Archival API endpoint as well.

[2016-09-26 18:42] metaweidner commented on #24
added to archival api endpoint with d736b84ac486e9fe48218d5c30562632af70d487

[2016-09-26 18:42] #24 closed, assigned to nobody

[2016-09-29 19:53] librarycard commented on #5
For DPTF Crosswalk (collection-level data)
- Original Collection: archdesc > did > unittitle
- Repository: archdesc > did > repository
- Creator: archdesc > did > origination
- Date: archdesc > did > unitdate
- Description: archdesc > scopecontent
- Publisher: this field does not really exist, at least not at the collection level, for an archival collection
- Use & Reproduction: archdesc > userest

[2016-10-10 13:45] amgaynor commented on #11
Can identical titles be used for different objects? E.g. "Agreement and contract."
Should we add a date at the end to distinguish items when possible? What if it's the same date?
See: http://digital.lib.uh.edu/collection/hnh/item/128, http://digital.lib.uh.edu/collection/hnh/item/465

[2016-10-10 14:31] amgaynor commented on #13
Will this be a single field from now on? vs. One field that's human readable and one field that's machine readable? What if the date cannot be expressed well in EDTF (e.g. College of Architecture posters - @christinz I think there was another collection - could you post here?)

[2016-10-10 14:40] amgaynor opened #28 "Object in context"
In our meeting last week we talked about how it is important to convey that what the user sees in the repository may not be the entirety of the collection - i.e. only a series or some subset of the collection was digitized. I'm not sure that this would be best captured in a descriptive metadata field, but I wonder if we can use the ASpace uri to link out to the "Item in Context" that would take th

[2016-10-10 16:38] metaweidner commented on #26
Add `values` attribute for drop downs to `range` #25

[2016-10-10 16:41] metaweidner commented on #25
In progress on #26

[2016-10-10 16:41] #25 closed, assigned to nobody

[2016-10-10 17:56] metaweidner commented on #26
@seanlw the bcdams-map api reflects the changes to the `range` data model. will this work?

[2016-10-10 18:11] librarycard commented on #28
"Show item in context" would be great -- we will need to see if that type of view/link to finding aid will be possible with ASpace and its search function. Having the ASpace URI for each item seems like a good starting point, though?

[2016-10-10 18:14] librarycard commented on #14
Can description be repeatable?

[2016-10-10 18:15] amgaynor commented on #16
We will use the original collection title, and not use digital collection title.

[2016-10-10 18:18] amgaynor commented on #16
We can create landing pages for digital collections rather than capture this info in a metadata field.

[2016-10-10 18:19] metaweidner commented on #14
It's listed as repeatable in the DPLA MAP, so we could change it to repeatable. What is the use case for having multiple descriptions?

[2016-10-10 18:24] seanlw commented on #26
Works perfectly. Brays has been updated to reflect this new feature.

[2016-10-10 18:27] amgaynor commented on #11
We will not create file-level titles for multipage works. :smiley:

[2016-10-10 18:29] metaweidner commented on #11
Ensuring the uniqueness of titles in a collection seems like an unnecessary burden on metadata creators. If I remember correctly, the argument for doing this has been that unique titles ensure unique citations when researchers use UHDL objects in their work. The addition of persistent ARK identifiers to our workflow should eliminate that requirement. That said, input rules outlining how to include

[2016-10-10 18:31] amgaynor opened #29 "Transcript & Translations"
Where will the current transcript field be mapped to? How will transcripts work in the new system? Also, where would we put translation of transcript?

[2016-10-10 18:31] #26 closed, assigned to nobody

[2016-10-10 18:36] librarycard commented on #14
For instance, if there's a caption or inscription that's now being mapped to the description field

[2016-10-10 18:41] amgaynor commented on #11
Work titles do not have to be unique.

[2016-10-10 18:47] amgaynor commented on #11
For letter titles: Letter from [Name] to [Name], YYYY Month DD
Supply date only if there is a date.
(No longer include "regarding" statement in title)

[2016-10-10 18:49] librarycard commented on #9
Is there going to be a separate field for RS.org code? Is this rights field just for the human-readable use & reproduction statement?

[2016-10-10 18:52] librarycard commented on #10
I don't think this needs to be a human-readable field, the DAMS just needs to authenticate users and display (or not display) items accordingly (i.e. if a person is accessing items from an on-campus IP range, or if a person is logged in as a library employee)

[2016-10-10 18:52] metaweidner commented on #14
@librarycard  I see captions and inscriptions as being folded into the text of the Description field, perhaps identified by a construction such as `Inscription on back: "inscription text"`. That's the easiest path, and many of the Inscription and Caption fields in the UHDL legacy data already employ that construction for ease of migration. It seems like you're suggesting typed Description instance

[2016-10-10 18:59] amgaynor commented on #11
How should we format title for newsletters? Currently Vol and No. in Description field. We would like to move that information into the Title field.

[2016-10-10 19:19] seanlw commented on #10
@librarycard I think this still needs to be human-readable. If the user is blocked it's important to describe what access right prevented them from viewing the object. I for one would love to get away from the generic 'Access Denied' text. I can also see it being important long term as objects move from one system to another, or simply displayed in different systems. Something like Spotlight for i

[2016-10-10 19:19] librarycard commented on #27
@metaweidner -- DPTF is using collection-level data to populate these fields, so mapping them to ASpace will be different for DPTF purposes vs. the DAMS. Is this a problem for using the BCDAMS map to validate in Carpenters and Brays?

[2016-10-10 19:22] metaweidner commented on #5
Thanks @librarycard. I've added the EAD mappings to the crosswalk. I split out the EAD/ASpace column into 'EAD (archdesc)' and 'Aspace.'

[2016-10-10 19:45] metaweidner commented on #27
@librarycard The DPTF use case should not pose any problems for validation against the MAP with Carpenters. We're using the MAP to mint local URIs for predicates, most of them linked to established vocabularies plus a few of our own. The predicates already minted are reusable in the preservation context, although the Guidelines documentation may need to be expanded to incorporate DPTF usage. Do yo

[2016-10-10 19:50] metaweidner commented on #10
Either way we'll need to define access levels and develop a corresponding local vocabulary.

[2016-10-10 20:25] metaweidner commented on #9
From what I gather, Hybox will inherit Rights behavior from Sufia, most likely importing URIs and displaying a human-readable label like here: https://scholarsphere.psu.edu/files/2z10wq29w

In most cases, the Rights data should be sufficient to indicate to users how they can reuse/reproduce the object. Any additional administrative information might go in the Note field: https://uhlibraries-digita

[2016-10-12 13:57] amgaynor commented on #13
If we choose to go with one date field formatted in EDTF, would we be able to display it in a human readable form a la UNT? https://digital.library.unt.edu/help/guide/dates/

[2016-10-12 15:55] metaweidner commented on #13
@amgaynor Long term: yes, there are tools that will do that for us: http://blogs.library.duke.edu/bitstreams/2016/04/22/edtf-humanize/ Short term: remains to be seen what Hybox gives us out of the gate

[2016-10-12 19:05] #17 closed, assigned to amgaynor, librarycard

[2016-10-12 19:21] metaweidner commented on #12
How to express roles as an attribute?

[2016-10-12 19:23] metaweidner commented on #11
Add in Preservation / Access headings

[2016-10-12 19:30] metaweidner commented on #14
Better to map Inscriptions and Captions to Description than Note.

[2016-10-12 20:25] metaweidner opened #30 "Review DAMSTF Field Documentation & Crosswalk"
- https://github.com/uhlibraries-digital/bcdams-map/wiki/03-DAMSTF-Metadata#fields
- https://github.com/uhlibraries-digital/bcdams-map/wiki/03-DAMSTF-Metadata#uhdl-crosswalk

[2016-10-12 21:04] metaweidner commented on #30
Create issues for individual fields as needed during review process

[2016-10-13 17:37] metaweidner commented on #29
Examples of translations from @lisacruces
- Arizona: http://speccoll.library.arizona.edu/online-exhibits/exhibits/show/documented-border/item/234
- Bexar Archives: http://www.cah.utexas.edu/projects/bexar/docs.php?type=c
- Qajar: http://www.qajarwomen.org/en/items/15159A2.html

[2016-10-13 18:33] amgaynor commented on #29
@lisacruces This is an example from Europeana: http://www.europeana.eu/portal/en/record/90402/SK_C_95.html

It's not entirely related to this conversation because it doesn't have a caption or anything, but if you look at the Classifications and the Format property you can see that they change (most of the time) when you change the language (upper right hand corner)

I'm pretty sure that this is ge

[2016-10-25 13:25] amgaynor commented on #15
I think this needs to be reviewed as we talk about the Place of Creation field. In most cases the Place of Creation field is the location of the publisher, normally reflected in the MARC record as, e.g., London: Schott & Comp.; Leipzig: C.F. Leede. Where will we put that geographic element (if anywhere)? Will we include it in this field?

[2016-10-25 14:26] amgaynor commented on #11
Updated title guidelines. Added Preservation/Access headings: https://uhlibraries-digital.github.io/bcdams-map/guidelines/title

[2016-10-25 14:33] amgaynor commented on #11
@librarycard feel free to update the Preservation guidelines for this.

[2016-11-02 19:10] amgaynor opened #31 "Update Alternative Title Guidelines"
https://uhlibraries-digital.github.io/bcdams-map/#alternative
https://uhlibraries-digital.github.io/bcdams-map/guidelines/alternative

http://digital.lib.uh.edu/about/metadata#AlternativeTitle

Need to expand input guidelines and include examples, e.g.:
For translated titles, use title that appears on the piece as the main title and use the translated title as an alternative title.

[2016-11-11 20:50] dulekde commented on #14
I found UNT's entry on content description very helpful http://www.library.unt.edu/digital-projects-unit/quick-start-metadata-guide#description-content-description

[2016-11-16 22:42] amgaynor opened #32 "Update Series Title Guidelines"
@librarycard @christinz @rmrichardson @lisacruces

In our last meeting we talked about keeping the Series Title field. In my notes I have that we wanted to make sure to define in the input guidelines that this is not to be confused with the archival concept of series. I ran a report just to see where it was currently being used:

https://docs.google.com/spreadsheets/d/18FbGH7jZMjF84_KGYU0e9JT3-Q4A

[2016-11-18 22:44] amgaynor opened #33 "Update Format/Medium/Extent Guidelines"
In our last meeting we were trying to determine how best to map Genre, Physical Description and Extent. I've created a sheet in the DMWG that contains those fields for all objects in the digital library.

https://docs.google.com/spreadsheets/d/18FbGH7jZMjF84_KGYU0e9JT3-Q4AraNPWLTtRy_js4M/edit#gid=904342543

I've included notes some of the column headers.

My thoughts right now would be to keep gen

[2016-11-20 21:45] amgaynor opened #34 "Update Time Period Guidelines"
Make clear that this is capturing aboutness.

[2016-11-20 22:01] amgaynor commented on #34
Will we be using this field? Can we think of examples when this would be helpful? We will have the date field filled in for many objects...

[2016-11-21 18:36] amgaynor opened #35 "Place of Creation"
In our last meeting we talked about Place of Creation and I mentioned that upon Andy and my first review of that field it looks like it's used for Publisher information in most cases. Since this field could be valuable, but doesn't seem to fit into any of the current fields, we talked about whether we might use [bf:providerPlace](http://bibframe.org/vocab/providerPlace.html). Another option would

[2016-11-21 18:51] amgaynor commented on #14
If the title is the same as the description, do we need to repeat it in the description?

[2016-11-22 14:18] metaweidner commented on #34
This field is not widely used in the UHDL. We could create a local controlled vocabulary for this in Cedar based on the Special Collections collecting areas. If this is the path we choose, ideally we'd add a Time Period to every object in the repository as a sort of macro-facet.

[2016-11-22 14:22] metaweidner commented on #16
What about digital collections made up of multiple provenance collections? It seems to me that there should be a place for these curated collections in the metadata. A landing page alone may not serve some users needs.

[2016-11-22 14:25] metaweidner commented on #5
@librarycard @rmrichardson @lisacruces
Can we consider this issue closed, or is there still work to be done on this with relation to the MAP?

[2016-11-22 14:31] metaweidner commented on #33
That mapping works for me @amgaynor
Genre = Genre (Cedar AAT vocabulary)
PhysDesc = Format (medium of item)
PhysDesc/OrigItemExtent = Extent (quantity)

[2016-11-22 14:32] metaweidner opened #36 "Add DPLA-MAP input rules to guidelines"

[2016-11-22 14:37] seanlw commented on #36
I'm interested in this and possibly having Brays do validation against these rules if possible.

[2016-11-22 14:49] metaweidner opened #37 "Move DMWG reports to DMWG Google Drive folder"
DAMSTF > BCDAMS > DMWG

Will ensure that everyone has appropriate access to the metadata analysis reports

[2016-11-22 15:03] metaweidner commented on #32
@amgaynor What are the UHDL digital collections that make use of the Series field?

[2016-11-22 15:06] metaweidner commented on #28
@seanlw How should we approach the linkage between repository and archival context in Halls?

[2016-11-22 15:58] metaweidner commented on #15
Agreed. Probably best to hold off on finalizing this until we see what capabilities we have for defining metadata in the system.

[2016-11-22 16:01] metaweidner commented on #35
Let's hold off on this until we know what capabilities the system provides us for defining metadata. We may be able to map this to a predicate like bf:providerPlace in conjunction with Publisher #15

[2016-11-22 16:08] metaweidner commented on #14
We should aim to keep the metadata as DRY as possible. Description should be used to add value to the metadata. It's OK to omit the Description field if it's only repeating what's recorded elsewhere.

[2016-11-22 16:10] seanlw commented on #28
I think having the ASpace URI in the repository would be the way to go. We could create a gem that is used within HyBox, theoretically, that could pull that information out of ASpace and either display it within the repository, or just link out into Halls. I'll need more information as to how you want the "Show item in context" to work and what information you need displayed to satisfy that featur

[2016-11-22 16:11] metaweidner commented on #36
Having the input rules in the guidelines document for each field should help us to formulate the guidelines text and choose appropriate examples.

[2016-11-22 16:13] metaweidner opened #38 "Create Access Rights local vocabulary"
A local vocabulary that defines levels of access will be necessary to complete #10

[2016-11-22 16:35] #30 closed, assigned to nobody

[2016-11-22 16:37] metaweidner opened #39 "Create Time Period local vocabulary"
This is a possible extension to #34

[2016-11-22 19:30] metaweidner commented on #27
@seanlw Is there any need to revisit the archival endpoint in the MAP at this time, or can this issue be closed?

[2016-11-22 19:33] metaweidner opened #40 "Update Note guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/note

[2016-11-22 19:34] metaweidner opened #41 "Update Donor guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/provenance

[2016-11-22 19:37] metaweidner opened #42 "Update Identifier guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/identifier

[2016-11-22 19:37] seanlw commented on #27
@metaweidner I think this issue can be closed.

[2016-11-22 19:50] metaweidner opened #43 "Update ArchivesSpace URI guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/aSpaceUri

[2016-11-22 19:52] metaweidner opened #44 "Update Type guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/type

[2016-11-22 19:52] metaweidner opened #45 "Update Place guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/spatial

[2016-11-22 19:54] metaweidner opened #46 "Update Subject guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/subject

[2016-11-22 19:55] metaweidner opened #47 "Update Language guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/language

[2016-11-22 19:56] metaweidner opened #48 "Update Contributor guidelines"
https://uhlibraries-digital.github.io/bcdams-map/guidelines/contributor

[2016-11-22 19:57] metaweidner commented on #45
Decisions regarding #35 may impact this field.

[2016-11-22 20:07] metaweidner commented on #27
TY @seanlw

[2016-11-22 20:07] #27 closed, assigned to nobody

[2016-11-30 00:06] amgaynor commented on #37
Fixed!

[2016-11-30 00:06] #37 closed, assigned to nobody

[2016-12-06 00:39] amgaynor commented on #36
I finished adding the usage guidelines from the DPLA MAP v4 to our BCDAMS MAP. Not sure if you want to keep this issue open to address the validation you mention.

[2016-12-06 15:01] metaweidner commented on #36
@amgaynor Some field guidelines are missing the DPLA MAP Usage statement:

- https://uhlibraries-digital.github.io/bcdams-map/guidelines/title
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/publisher
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/language
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/subject
- https://uhlibraries-digital.github.io/bcda

[2016-12-06 15:46] amgaynor commented on #36
@metaweidner  I forgot to hit "Sync" in my desktop client. They should all be there now.

[2016-12-06 15:56] #36 closed, assigned to nobody

[2017-01-04 20:17] dulekde commented on #48
I don't know that it's particularly clear that video roles (directors, editors, host, etc) fall into this category, but Narrator is currently it's own field. Narrator doesn't currently have a distinction for whether the name is local or not.

[2017-01-13 15:58] seanlw opened #49 "Update namespace URI"
Update the current hard coded URI `https://uhlibraries-digital.github.io` and move it to something that can be configured in the `_config.yml` file. This will allow the map to be cloned and used by other institutions with different URI's.

[2017-01-18 19:44] metaweidner opened #50 "Consolidate DPTF & DAMSTF Wiki Pages"
As we discussed today, let's create one wiki page that includes the Metadata Dictionary mappings for the entire BCDAMS-MAP, currently split into DPTF & DAMSTF.

[2017-01-18 22:40] amgaynor commented on #50
I took a first pass at consolidating them here: https://github.com/uhlibraries-digital/bcdams-map/wiki/04-UHDL-Crosswalk

I need to look a little more closely to make sure I caught everything. In particular, I'm wondering if, for Time Period, we want to use Temporal Coverage from the DPLA MAP.

[2017-01-24 21:59] amgaynor commented on #32
@metaweidner the UHDL collections that make use of Series:

- KUHT Highlights (Values indicate TV series)
- Selections from the Franzheim Rare Books Room (Values indicate book series)
- Sheet Music of Flute and Violin Duets, 1790s-1850s (Series title of some kind; need more info from a specialist)
- University of Houston Campus Life*
- University of Houston People*

*These don't seem to be series;

[2017-01-24 22:43] amgaynor commented on #50
Thanks for reworking the page, Andy. A few notes:

1. We do have a Note field in UHDL, but I see that it's not on the current metadata dictionary page. I added it to the Crosswalk page. I'll add it to the current metadata dictionary page.

2. I added the exceptions from the KUHT Highlights collection

3. Should the bf:series property be [bf:hasSeries](http://id.loc.gov/ontologies/bibframe.html#p_h

[2017-01-25 16:05] metaweidner commented on #32
Thank you @amgaynor. Copying over your question on bf:series from #50

http://id.loc.gov/ontologies/bibframe.html#p_hasSeries
http://id.loc.gov/ontologies/bibframe.html

[2017-01-25 16:05] metaweidner commented on #50
@amgaynor As we discussed this morning, please create another page that lists all elements in the MAP for DMWG use. I'll close this issue when scheduling the next meeting.

[2017-01-25 19:11] amgaynor commented on #50
@metaweidner I've created the page here: https://github.com/uhlibraries-digital/bcdams-map/wiki/05-BCDAMS-Field-Set

Take a look at let me know if it's missing anything at this point.

[2017-01-25 21:08] rmrichardson commented on #32
I can confirm that UH Campus Life and UH People aren't Series, in either the archival or bf sense of the term.

[2017-01-25 21:23] metaweidner commented on #50
Looks good @amgaynor. I will distribute this to the DMWG.

[2017-01-25 21:23] #50 closed, assigned to nobody

[2017-01-26 19:17] metaweidner commented on #49
@seanlw Breaking API changes in progress.

[2017-01-26 19:24] seanlw commented on #49
@metaweidner Ok, I'll update the URL as well to start pointing to https://vocab.lib.uh.edu/bcdams-map/

[2017-01-26 20:38] metaweidner commented on #49
@seanlw MAP API Changes:
- `guidelines_uri` to `guidelines`
- `same_as_uri` to `source`

[2017-01-26 21:54] metaweidner commented on #49
@seanlw what do you think about removing `hidden` and using `visible` to take the place of multiple application API calls (`api/archival`, etc...):

[code]

[2017-01-26 22:13] seanlw commented on #49
@metaweidner I really wouldn't recommend putting application specific variables in the MAP. If it really comes down to wanting to hide specific fields, then we should do so as a feature for that specific application.

[2017-01-26 22:16] metaweidner commented on #49
@seanlw Should I remove `hidden` altogether?

Also, what is the purpose of the `/api/archival.json` call?

[2017-01-26 22:20] seanlw commented on #49
@metaweidner I'll have to check about the `hidden` field. The purpose of `/api/archival.json` is more about being a filter than anything. It's still providing data, but the data itself isn't specific to a application.

[2017-01-27 16:37] #49 closed, assigned to nobody

[2017-01-27 16:39] metaweidner opened #51 "Remove 'Descriptive' and 'Administrative' API calls"

[2017-01-27 16:40] metaweidner opened #52 "Rename 'map.json' to 'elements.json'"

[2017-01-27 16:42] metaweidner opened #53 "Create 'Carpenters' API call"

[2017-01-27 16:44] metaweidner opened #54 "Create 'Brays' API call"
- `hidden`
- `input`

[2017-01-27 16:44] metaweidner opened #55 "Remove 'hidden' and 'input' from elements"

[2017-01-27 16:45] metaweidner commented on #55
Do this after #54

[2017-01-27 16:56] metaweidner commented on #51
d16bb56

[2017-01-27 16:56] #51 closed, assigned to nobody

[2017-01-27 17:13] metaweidner commented on #52
@seanlw `map` has been changed to `elements`
34a0ed9

[2017-01-27 17:13] #52 closed, assigned to nobody

[2017-01-27 17:44] metaweidner commented on #53
@seanlw Is there anything that should be added or changed with the `carpenters` API call?

[2017-01-27 17:47] seanlw commented on #53
@metaweidner not at this time

[2017-01-27 17:50] metaweidner commented on #53
8c82813

[2017-01-27 17:50] #53 closed, assigned to nobody

[2017-01-27 18:25] metaweidner commented on #54
@seanlw Created the Brays API call. Changed `hidden` to `visible`
f4394cf

Let me know if there are any changes or additions to make.

[2017-01-27 18:32] seanlw commented on #54
@metaweidner Everything looks good after the change. I'm going to hold off pushing changes in Brays for a few days incase we think of any more changes.

[2017-01-27 18:34] metaweidner commented on #54
@seanlw sounds good. i'll hold off on #55 for a little bit.

[2017-02-01 15:24] #54 closed, assigned to nobody

[2017-02-01 16:08] metaweidner commented on #55
@seanlw Will removing `hidden` and `input` break anything with the Carpenters applications? I plan to remove those fields from the `archival` and `carpenters` responses as part of this issue.

[2017-02-01 16:19] seanlw commented on #55
@metaweidner It doesn't look like it will. Carpenters relies on `name` and `namespace`, so as long as you leave those alone, you're good.

[2017-02-01 16:53] metaweidner commented on #55
d3d13a0

[2017-02-01 16:53] #55 closed, assigned to nobody

[2017-02-01 18:30] metaweidner opened #56 "Add 'graph.ttl' to API"

[2017-02-07 16:50] librarycard commented on #38
These are the categories that we came up with for levels of access:
- Individual
- Staff only
- On-campus (IP range?) (cougarnet not required)
- UH authentication (cougarnet ID)
- Public access

[2017-02-07 20:33] librarycard commented on #42
can we put OCLC number here?

[2017-02-07 20:44] metaweidner commented on #42
@librarycard That seems reasonable. Do you anticipate any other types that we should include in the guidelines?

- ARK
- OCLC
- Call Number
- Location (a.k.a. Original Item Location)

[2017-02-07 23:06] librarycard commented on #42
@metaweidner i think that should cover it -- i can't think of any others at the moment.

[2017-02-16 20:36] metaweidner opened #57 "Change Series Title Predicate"
[bf.partOf](http://id.loc.gov/ontologies/bibframe.html#p_partOf)

[2017-02-16 20:37] metaweidner opened #58 "Change Format Label"
change to "Medium"

[2017-02-16 20:37] metaweidner opened #59 "Change Genre Label"
change to "Format"

[2017-02-16 20:48] metaweidner commented on #33
@amgaynor  New mappings and input rules based on decisions made in the 2017-02-16 DMWG meeting:

- Extent: quantitative information about the object (# pages, dimensions, etc.)
- Medium ( previously Format #58 ): "ink on paper", "oil on wood", etc.
- Format ( previously Genre #59 ): Cedar AAT vocabulary term

[2017-02-16 20:52] metaweidner commented on #32
@amgaynor The predicate in #57 seems broad enough to accommodate bibliographic and audio-visual usage of Series Title in the UHDL.

[2017-02-16 20:56] metaweidner commented on #5
@librarycard @lisacruces @rmrichardson Some notes from today's DMWG meeting to guide your investigations into how we might map harvested descriptive metadata from the ASpace API:

**General rules for configuration at the application level**
- Item level description:
-- Title
-- Date
- Folder level description:
-- Title + Item #
-- Date
- Additional fields require further investigation:
-- Descript

[2017-03-01 17:54] amgaynor opened #60 "Update links from Guidelines page"
Element links on this page: https://uhlibraries-digital.github.io/bcdams-map/guidelines/ need to be updated. Currently all of them just link to https://uhlibraries-digital.github.io/bcdams-map/guidelines/.

[2017-03-01 18:23] metaweidner commented on #60
Fixed with b1632b8

[2017-03-01 18:23] #60 closed, assigned to nobody

[2017-03-01 20:12] amgaynor commented on #33
We need to confirm the accepted input standards for extent:

Examples:
23 **pages**
24 x 19.5 **cm**
02:23:00
2.18 MB
5 x 7 **in** (vs. 5" x 7" or 5 x 7 inches)

[2017-03-02 14:47] amgaynor commented on #13
We need to confirm the natural language expression of dates in EDTF:

EDTF | Natural language
------|---------
1975-07-01  | January 1, 1975
1945? | 1945?
1981~ | approximately 1981
1975-23 | Autumn 1975 (or do we want Fall 1975?)
197x | 1970s
19xx | 1900s (in humanized EDTF, we will not have 20th century)
1981/1985 | 1981-1985 (other option would be 1981 to 1985. This form is not currently used i

[2017-03-02 14:52] seanlw commented on #13
There is also this available:

EDTF | Natural language
------| -------------
{1888, 1889, 1891} | 1888, 1889 and 1891

[2017-03-02 15:02] christinz commented on #13
1975-23, We have used "Fall" in a few collections in the past.

[2017-03-02 15:02] dulekde commented on #13
"u" is being used
http://digital.lib.uh.edu/collection/p15195coll34/item/108 July 28, 18??; 18uu-07-28
http://digital.lib.uh.edu/collection/1984_003/item/867 March 19 - March 21; 19uu-03-19/19uu-03-21

[2017-03-02 17:50] amgaynor commented on #13
Approximate date ranges, e.g.  "approximately 1970-1980". What's the correct way to enter this? 1970~/1980~? I think the more literal translation of this would be "approximately 1970-approximately 1980", but that's not in the UHDL.

[2017-03-02 17:53] amgaynor commented on #13
In bibliographic (and archival?) practice, brackets meant that the value is supplied. Do we want to follow this practice?

**Update:** We won't use brackets to indicate supplied dates. This practice has been discontinued in archives. For MARC records that include date in brackets, we will remove the brackets.

**Update:** Brackets will be used per the EDTF standard to indicate a list of "or" dates

[2017-03-03 21:15] amgaynor commented on #13
Old | New
----|-----
circa | approximately
Autumn | Fall
1920 to 1925 | 1920-1925
19XX | 1900s

[2017-03-07 21:19] metaweidner commented on #59
Will not change based on decision from 2017-03-02 DMWG meeting.

[2017-03-07 21:19] #59 closed, assigned to nobody

[2017-03-07 21:20] metaweidner commented on #58
Will not change based on decision from 2017-03-02 DMWG meeting.

[2017-03-07 21:20] #58 closed, assigned to nobody

[2017-03-07 21:42] metaweidner commented on #57
@amgaynor How do these look?
- https://uhlibraries-digital.github.io/bcdams-map/#partOf
- https://uhlibraries-digital.github.io/bcdams-map/guidelines/partOf

[2017-03-07 22:07] amgaynor commented on #57
@metaweidner Looks good to me! I'll add a couple of examples to the guidelines.

[2017-03-08 20:14] metaweidner commented on #57
closed with e792e2a & 955f6b5

[2017-03-08 20:14] #57 closed, assigned to nobody

[2017-03-10 18:33] amgaynor commented on #42
@metaweidner @librarycard is this also where we would put the accession number? If so, would we follow the format "1970-001, Box 5, Folder 20"?  If we did this, however, this particular identifier wouldn't be unique.

[2017-03-10 18:37] metaweidner commented on #42
@amgaynor Uniqueness is not required. The accession number should be sufficient to make that construction useful as an identifier.

[2017-03-10 18:42] amgaynor commented on #42
@metaweidner Ok sounds good. I think we talked about the possibility of Brays generating this field value based on the filename. Does that sound right?

[2017-03-10 20:54] amgaynor commented on #9
@metaweidner The RMWG has come up with the statements that we are using (though, given some recent information, there may be one additional statement. We need to discuss it further):

- In Copyright
- In Copyright - Copyright Owner Unlocatable or Unidentifiable
- Public Domain
- Rights Undetermined

These all have text to describe the statements:

Public Domain: This item is in the public domain a

[2017-03-10 22:00] metaweidner commented on #9
@amgaynor @librarycard I'd prefer to have the short form in the metadata. The long form explanation belongs on some kind of About page in the repository.

[2017-03-10 22:02] metaweidner commented on #9
@amgaynor Are the RMWG statements mapped to a URI?

[2017-03-10 22:30] amgaynor commented on #9
@metaweidner Yes, the corresponding URIs are:

Statement | URI
----|----
In Copyright| http://rightsstatements.org/vocab/InC/1.0/
In Copyright - Copyright Owner Unlocatable or Unidentifiable | http://rightsstatements.org/vocab/InC-RUU/1.0/
Rights Undetermined | http://rightsstatements.org/vocab/UND/1.0/

There's a question as to whether we are going to use Public Domain (Maybe: https://creativecom

[2017-03-12 19:33] librarycard commented on #9
@amgaynor My understanding from SAA's recent report is that the Public Domain Mark will apply in some cases, and No Copyright - United States will apply in others. I think we may need to revise our copyright decision matrix to include both. Hopefully we can use the SAA report and flowchart as a starting point.

@metaweidner I feel strongly that both the RS.org URI and the human-readable statement

[2017-03-12 22:01] #47 closed, assigned to nobody

[2017-03-12 22:03] amgaynor commented on #47
We'll have to make additions to this field value list before/during the migration.

[2017-03-12 22:06] amgaynor commented on #33
We'll need to revisit values for Genre once DPLA publishes list of 30-50 terms they'll be using.

[2017-03-12 22:08] #33 closed, assigned to nobody

[2017-03-12 22:08] #41 closed, assigned to nobody

[2017-03-13 14:42] metaweidner opened #61 "Add Rights Statements Values to Input List"
See #9  for list of values.

Explore hashed options for URI and Long Form statement when Brays option type is implemented: https://github.com/uhlibraries-digital/brays/issues/28

[2017-03-14 17:52] metaweidner opened #62 "Add Access Rights Values to Input List"
See #38 for values.

[2017-03-14 18:34] metaweidner commented on #62
@amgaynor @librarycard Pls provide feedback on 29d48fb

[2017-03-14 18:35] metaweidner commented on #61
@amgaynor @librarycard Pls provide feedback on 2cab067

[2017-03-14 19:00] amgaynor commented on #9
Per our Oral Histories Additions project meeting, @librarycard, @metaweidner Need to add:

Statement | URI
----|----
In Copyright - Educational Use Permitted | http://rightsstatements.org/vocab/InC-EDU/1.0/

[2017-03-14 19:11] metaweidner commented on #61
This is where we currently stand on `dc.rights`:

Statement | URI
----|----
In Copyright | http://rightsstatements.org/vocab/InC/1.0/
In Copyright - Copyright Owner Unlocatable or Unidentifiable | http://rightsstatements.org/vocab/InC-RUU/1.0/
In Copyright - Educational Use Permitted | http://rightsstatements.org/vocab/InC-EDU/1.0/
No Copyright - United States | http://rightsstatements.org/vocab/N

[2017-03-14 19:14] metaweidner commented on #61
160f7b9 adds 'In Copyright - Eduational Use Permitted' and 'No Copyright - United States'

[2017-03-14 19:22] metaweidner commented on #9
Rights Statement | Local Rights Statement
-----|-----
[In Copyright](http://rightsstatements.org/vocab/InC/1.0/) | This item is protected by copyright. Copyright to this resource is held by the creator or current rights holder, and the resource is provided here for educational purposes. It may not be reproduced or distributed in any format without permission of the copyright owner. Users assume fu

[2017-03-23 14:41] #62 closed, assigned to nobody

[2017-03-23 14:42] #61 closed, assigned to nobody

[2017-03-23 14:44] metaweidner opened #63 "Add Preservation Location"
This field will contain the `pm` ARK minted by Carpenters. It should be hidden in the Brays application and available in the Brays API.

[2017-03-23 18:05] metaweidner commented on #8
https://id.lib.uh.edu/ark:/84475/au0511xd315

[2017-03-23 18:05] #8 closed, assigned to nobody

[2017-03-23 18:46] #5 closed, assigned to nobody

[2017-03-23 18:48] metaweidner commented on #34
We may not be using this field. Depends on whether or not we do #39

[2017-03-23 19:27] metaweidner commented on #32
Let's use a table for the examples instead of a bulleted list, something like:

Type | Example
-----|-----
Book Series | [example book series title]
Television Series | [example television series title]
Video Series | [example video series title]

[2017-03-23 19:30] metaweidner commented on #42
Let's use a table for the identifier examples instead of a bulleted list, something like:

Type | Example
-----|-----
Call Number | [call number example]
OCLC Number | [oclc number example]
Archival Location | [archival location example]
ARK | [ark example]

[2017-04-04 20:06] metaweidner opened #64 "Add 'editable' to Brays API"
This will control whether or not a field can be edited in the Brays interface.

[2017-04-05 15:45] metaweidner commented on #64
Closed with 8888dd08a6f19c4c43a84e2cfd7bdd004e575029

[2017-04-05 15:45] #64 closed, assigned to metaweidner

[2017-04-07 19:16] metaweidner commented on #63
mapped to `dcterm.source` for the `pm` and `ac` ARKs

@seanlw closed with b374de74c4cdc0b3449ef71df623e4c930739a83

[2017-04-07 19:16] #63 closed, assigned to nobody

[2017-04-07 19:19] metaweidner commented on #38
Current values:

- Individual
- Staff
- Campus
- Community
- Public

[2017-04-07 21:11] metaweidner commented on #35
@amgaynor [bf:providerPlace](http://bibframe.org/vocab/providerPlace.html) is a BF 1.0 predicate that no longer exists in 2.0. Given the similarities between [bf:place](http://id.loc.gov/ontologies/bibframe.html#p_place) and our [Place](https://vocab.lib.uh.edu/bcdams-map#spatial) field, I'd rather avoid confusion and shelve `Place of Creation` until we can find a way to tie this tightly to `Publi

[2017-04-07 21:19] metaweidner commented on #4
This seems like something we'll address in the repository after ingest when we have other objects to link to.

[2017-04-07 21:19] #4 closed, assigned to nobody

[2017-04-07 21:22] metaweidner commented on #13
@librarycard It looks like the Date field needs Preservation guidelines.

[2017-04-07 21:23] metaweidner commented on #9
@librarycard @amgaynor What is the status of the rights statements, and can we put the above table in our guidelines to get it started?

[2017-04-07 21:26] metaweidner commented on #10
@librarycard @amgaynor The Access Rights guidelines page could also use a little more information. It will be a work in progress until we have some experience with Hyku.

[2017-04-07 21:29] metaweidner commented on #40
@amgaynor @librarycard Does the Note field needs input guidelines for both the Access and Preservation contexts?

[2017-04-10 19:07] amgaynor commented on #10
@metaweidner @librarycard I've updated the page with our current info. Should I close this issue for now or do you want me to leave it open as we wait to see what happens with Hyku?

[2017-04-10 19:15] metaweidner commented on #10
Thanks @amgaynor. The info you added will look better as a table rather than two bulleted lists. I'll make that change and close out this issue. Let's try to clear the board by the end of this sprint.

[2017-04-10 19:26] metaweidner commented on #10
@amgaynor closed accessRights guidelines with c8af95d71aa4ad501a8d42f237cdd326d6b51f68

[2017-04-10 19:26] #10 closed, assigned to nobody

[2017-04-10 19:27] metaweidner commented on #38
Closed with #10

[2017-04-10 19:27] #38 closed, assigned to nobody

[2017-04-10 20:18] amgaynor commented on #9
This is the table I am putting into the guidelines:

Rights Statement |     Local Rights Statement
-----------------|---------------------------------
[Public Domain](https://creativecommons.org/publicdomain/mark/1.0/) | This item is in the public domain and may be used freely.
[No Copyright - United States](http://rightsstatements.org/vocab/NoC-US/1.0/) | This item is in the public domain in the

[2017-04-10 20:24] #9 closed, assigned to nobody

[2017-04-11 12:38] #35 closed, assigned to nobody

[2017-04-11 12:40] metaweidner commented on #39
Shelving this for later.

[2017-04-11 12:40] #39 closed, assigned to nobody

[2017-04-11 12:41] #34 closed, assigned to nobody

[2017-04-11 14:40] #31 closed, assigned to nobody

[2017-04-13 21:40] #44 closed, assigned to nobody

[2017-04-14 21:18] amgaynor commented on #32
I've added the table as you suggested.

[2017-04-14 21:18] #32 closed, assigned to nobody

[2017-04-14 21:24] amgaynor commented on #16
Entries for Collections will be created in [Cedar](https://vocab.lib.uh.edu/en/concepts/collection.html). Collections can represent repository, provenance collection, or digital collection.

[2017-04-14 21:24] #16 closed, assigned to nobody

[2017-04-14 21:26] amgaynor commented on #11
@librarycard When you've completed the Preservation guidelines, feel free to close this issue.

[2017-04-14 21:49] amgaynor commented on #14
@librarycard I can't remember, were you going to add any guidelines for preservation?

[2017-04-17 00:51] amgaynor commented on #15
We decided that at least in the short term, we will put the location of the publisher in the Place field. Ideally the location of the publisher would be related to the publisher record in Cedar.

[2017-04-17 00:51] #15 closed, assigned to nobody

[2017-04-17 01:13] amgaynor commented on #42
I didn't have an example of a real digital object ARK, so I put a fake one in the documentation. I'll update that once we have some real digital object ARKs.

[2017-04-17 01:29] amgaynor commented on #12
Roles remain TBD.

[2017-04-17 01:29] #12 closed, assigned to nobody

[2017-04-17 01:49] #46 closed, assigned to nobody

[2017-04-17 13:55] #45 closed, assigned to nobody

[2017-04-17 13:55] #48 closed, assigned to nobody

[2017-04-17 14:24] amgaynor commented on #40
@librarycard I have updated the guidelines for Acesss. I'm not sure if there were other guidelines you wanted to add for the Preservation context.

[2017-04-17 21:03] librarycard commented on #42
add to preservation input guidelines: preservation package ark goes here

[2017-04-20 14:48] metaweidner opened #65 "Add ASpace URI to Carpenters API"
To accommodate posting ARK identifiers to ArchivesSpace in the Little White Oak Archivematica MCP Client.

[2017-04-25 18:52] metaweidner opened #66 "Add Crosswalk Attribute"
This will facilitate mapping to other metadata schema such as MODS for Avalon.

[2017-05-08 18:37] metaweidner opened #67 "Add Obligation to Main Page"

[2017-06-09 16:49] amgaynor commented on #14
We talked about this a little bit at the Data Migration Working group. We're wondering if we should differentiate the components of the `Description` field in any particular way since it may include caption and inscriptions. In the Medieval Manuscripts collection different description section headings appear in all caps, e.g.

`Ms. text includes: Proper of Season, Christmastide, Office at Matins,

[2017-06-09 17:59] seanlw commented on #66
Avalon MODS crosswalk https://github.com/uhlibraries-digital/bcdams-map/wiki/06-Avalon-Crosswalk

[2017-06-09 20:22] amgaynor commented on #14
@lisacruces thanks for getting these notes from SC:

[2017-06-14 20:04] metaweidner commented on #66
abe616ef9545949a9000bd98aa49e6235019e166
ecdf0195810b581d060be605228c08ab776f5b06
65858874702646674e3e4383133f309afc624ffb

[2017-06-19 14:07] amgaynor commented on #14
Given this feedback, I'm inclined to say that captions and inscriptions will be recorded in the description field, but will not be differentiated by all caps. Unless there's any other feedback on this, I'll also just go with the translation construction I mention above.

Examples of `Description` field:

- `Caption on front: "Billy Jurges, a former big league shortstop, talking to infielder Sonny

[2017-07-13 13:05] seanlw commented on #66
@amgaynor Since the addition of note types, can you map out the MAP fields with the appropriate Note Types.

https://github.com/uhlibraries-digital/bcdams-map/wiki/06-Avalon-Crosswalk

@metaweidner once this is done there will be more changes in the crosswalk attribute, I'll let you know what that might look like depending on what gets mapped.

[2017-07-13 21:21] amgaynor commented on #66
@seanlw I've updated it with the notes that we had worked on before. Though I'm still interested to hear @metaweidner and others' thoughts our (ab)use of the `Note` field, bearing in mind that it's a bit of a stopgap measure.

[2017-07-14 10:26] seanlw commented on #66
@metaweidner can you add in the crosswalk segments to `Collection`, `Preservation Location`, and `Donor`. Because these share the same field `Note`, add the attribute `type` to the `avalon` attribute. The `type` is defined in the crosswalk wiki page. Also, please add type `general` to uhlib.note field.

example:

[code]

[2017-07-17 19:56] metaweidner commented on #66
@seanlw Will these mappings work for now, assuming that we can get the `Identifier` ingest to work? It seems like `Collection` is already captured in Avalon's `Collection` and `Unit` facets.

**Donor**
[code]

**Preservation Location**
[code]

**Identifier**
[code]

[2017-07-17 19:59] seanlw commented on #66
@metaweidner yeah, I think that will work

[2017-07-18 17:32] metaweidner commented on #66
@seanlw I added `Collection` to the mix as well given the limitations of the MAP in identifying the `Collection` and `Unit` for Avalon ingest. https://github.com/uhlibraries-digital/bcdams-map/commit/de6b429e8b535cfdcfa176e5f88a65505377aab6

[2017-07-18 17:35] seanlw commented on #66
@metaweidner I noticed that the avalon label for `Other Identifier` has been changed to `identifier`. It will need to remain `Other Identifier`. I know the `Identifier Type` is giving us trouble but I do know it will fail if `Other Identifier` is not there.

[2017-07-18 17:47] metaweidner commented on #66
@seanlw 7dd0541a3e47054bab050ff57f2d39358cc55e29

[2017-07-20 14:03] seanlw commented on #66
@metaweidner some changes are needed to the avalon crosswalk

- `Preservation Location` needs a label change to `Other Identifier`
- uhlib.note needs a note type of `general`

[2017-07-20 21:02] metaweidner commented on #66
@seanlw aa3a77e

[2017-08-03 22:08] amgaynor commented on #40
@metaweidner Is there a particular reason that `Note` is not a repeatable field? We have an instance where we would like to make a note about the archives where the digitized material is from, and also make a note about an error in the periodical numbering. I'm not sure that it's ideal that both notes would be two sentences in a single `Note` field. cc: @librarycard @christinz

[2017-08-09 18:28] metaweidner commented on #40
@amgaynor Note is now repeatable b3afb0d

[2017-08-14 13:33] amgaynor commented on #66
@metaweidner @seanlw I've updated the [Avalon Crosswalk wiki page](https://github.com/uhlibraries-digital/bcdams-map/wiki/06-Avalon-Crosswalk) to include the ASpace URI mapping.

We'll need the avalon crosswalk added to the MAP for the Brays export.

I think:

**ASpace URI**
[code]

[2017-08-14 14:49] metaweidner commented on #66
@amgaynor @seanlw added aspace uri avalon crosswalk aef1409

[2017-08-14 15:05] seanlw commented on #66
I've pushed this change to production so you have access to it now

[2017-10-06 19:07] amgaynor opened #68 "Convey relationships between items"
@metaweidner and @librarycard: We talked today about how we might convey relationships between items. We discussed two relationships:
- a whole-part relationship (e.g. an individual Eiden Coll. photograph is from a particular scrapbook)
- a related-item relationship (a transcript in the DL is related to a video in Avalon)

I looked to find some possible predicates for these and found:
- For whole-

[2017-11-10 15:13] metaweidner commented on #68
Transferred to Trello.

[2017-11-10 15:13] #68 closed, assigned to nobody

[2017-11-10 16:01] metaweidner commented on #67
Transferred to Trello.

[2017-11-10 16:01] #67 closed, assigned to metaweidner

[2017-11-10 16:03] #66 closed, assigned to metaweidner

[2017-11-10 16:04] metaweidner commented on #65
@seanlw Is this necessary? If yes, I will create a story for it. If not, please close.

[2017-11-10 16:07] metaweidner commented on #56
Transferred to Trello.

[2017-11-10 16:07] #56 closed, assigned to metaweidner

[2017-11-10 16:07] seanlw commented on #65
@metaweidner no I don't think so

[2017-11-10 16:07] #65 closed, assigned to metaweidner

[2017-11-10 16:07] #43 closed, assigned to librarycard

[2017-11-10 16:09] #42 closed, assigned to librarycard

[2017-11-10 16:11] #40 closed, assigned to librarycard

[2017-11-10 16:15] metaweidner commented on #29
Transferred to Trello.

[2017-11-10 16:15] #29 closed, assigned to nobody

[2017-11-10 16:19] metaweidner commented on #28
Transferred to Trello.

[2017-11-10 16:19] #28 closed, assigned to nobody

[2017-11-10 16:22] #14 closed, assigned to amgaynor, librarycard

[2017-11-10 16:24] #13 closed, assigned to librarycard

[2017-11-10 16:25] #11 closed, assigned to librarycard

[2018-08-09 21:53] amgaynor opened #69 "Add Avalon mapping to Series Title/partOf"
Add mapping to [Series Title](https://vocab.lib.uh.edu/bcdams-map/guidelines/partOf)/partOf. Should be similar to Collection/[`isPartOf` crosswalk](https://github.com/uhlibraries-digital/bcdams-map/blob/gh-pages/_data/elements/isPartOf.yml).

Use (I think):
[code]

[2018-08-15 17:46] metaweidner commented on #69
@amgaynor 8f41acd4

[2018-08-15 17:46] #69 closed, assigned to nobody